.card-container {
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 30px;
}
.card {
  margin: auto;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
.h5 {
  margin-top: 4vh;
}
.hr {
  margin-top: 1.25rem;
}
.select,
.input-code {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2vh 0;
}
.btn {
  background-color: #00db60;
  border-color: transparent;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
}
.btn:hover {
  color: white;
}
.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2,
.col {
  padding: 0 1vh;
}
.img-fluid {
  width: 3.5rem;
}
.close {
  margin-left: auto;
  font-size: 0.7rem;
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.title {
  margin-bottom: 5vh;
}
.back-to-shop {
  margin-top: 4.5rem;
}
.cart-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Thay thế border-top */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Thay thế border-bottom */
}

.cart-item-main {
  display: flex; /* Thay thế cho .row và .align-items-center */
  align-items: center; /* Căn giữa các phần tử */
  margin: 0; /* Căn chỉnh lại margin */
}

.cart-item-image {
  flex: 0 0 20%; /* Chiều rộng hình ảnh */
}

.cart-item-image img {
  width: 100%; /* Đảm bảo hình ảnh đầy đủ */
  height: auto; /* Đảm bảo tỷ lệ khung hình */
}

.cart-item-details {
  flex: 1; /* Chiều rộng cho tên và mô tả */
  padding: 0 1vh; /* Thêm padding cho phần tử */
}

.cart-item-name {
  margin: 0; /* Bỏ margin */
}

.cart-item-description {
  margin: 0; /* Bỏ margin */
}

.cart-item-quantity {
  flex: 0 0 15%; /* Chiều rộng cho phần số lượng */
  display: flex; /* Để sắp xếp các nút - , 1, + */
  justify-content: space-around; /* Căn giữa các nút */
}

.cart-item-price {
  flex: 0 0 20%; /* Chiều rộng cho giá */
  text-align: right; /* Căn phải cho giá */
}

.close {
  margin-left: 8px; /* Khoảng cách cho biểu tượng đóng */
  font-size: 0.7rem; /* Kích thước cho biểu tượng đóng */
}
.col-md-8 {
  width: 66.66%;
}
.align-self-center {
  align-self: center;
}
.cart-list-col-md-4 {
  width: 33.34%;
}

/* Media query để điều chỉnh độ rộng cho các kích thước màn hình nhỏ hơn */
@media (max-width: 767px) {
  .cart-list-col-md-4 {
    width: 100%; /* Chiếm toàn bộ chiều rộng cho màn hình nhỏ hơn */
    max-width: 100%;
  }
}
